<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Personas</title>
</head>

<body>
    <h1>la lista esa de las personas jsjsj</h1>

    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Nombre</td>
                <td>Apellido</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="persona:${listaPersonas}">
                <td th:text="${persona.id}"></td>
                <td th:text="${persona.nombre}"></td>
                <td th:text="${persona.apellido}"></td>
                <td><a th:href="@{/personas/persona/{id} (id=${persona.id})}">Detalle</a></td>
            </tr>
        </tbody>
    </table>
</body>

</html>